{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
  // "plugins": [
  //   "transform-class-properties",
  //   "@babel/proposal-optional-chaining",
  //   "@babel/plugin-proposal-nullish-coalescing-operator"
  // ]
}
